@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
        border-bottom: 1px solid white;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    border-bottom: 1px solid white;
}
